.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 95px - 50px);
  overflow: scroll;
  width: 100%;
}

.main_expanded {
  height: calc(100vh - 95px);
}

.main > img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .main > img {
    height: 261px;
    object-fit: cover;
  }
}

.main > p {
  padding: 0 15px;
  text-align: center;
}
